# Lesson 14 Studio:  A Library Service

## Setting Up Your Data

You will be creating 5 new tables within your own schema.

4 of the tables can be populated using the starter code which can be found in the folder "[Starter Code](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code)" in the studio GitHub repository. 

After setting up the data you should have the following five tables:

1. book
2. author
3. patron
4. genre
5. loan

## **Part A: Setting Up Your Tables**

### **Book Table**

To create the **book** table, you can use the following SQL query:

```
CREATE TABLE [DB].[schema].book (
    book_id INT IDENTITY(1,1) PRIMARY KEY, 
    author_id INT,
    title VARCHAR(255),
    isbn INT,
    available BIT,
    genre_id INT
);
```

_A few notes on this syntax:_

> On Auto-incrementing:
> 
> We are going to have SQL help us assign book\_id numbers using auto-incrementing using the **IDENTITY** property.
> 
> The [IDENTITY](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql-identity-property?view=sql-server-ver15) syntax is as follows: **IDENTITY(seed, increment)**.  We want to seed the first id number as 1 in this table and increment by 1 for each following book\_id.

> On BIT datatypes:
> 
> For the **available** column, we are going to use the [BIT datatype](https://docs.microsoft.com/en-us/sql/t-sql/data-types/bit-transact-sql?view=sql-server-ver15) to represent True or False values.  Bit allows three entries: 0 which will stand for false,  1 which will stand for true,  and NULL.

> On CREATE TABLES:
> 
> You may only create a table once.  You may comment out your creation query once you run it.

In [9]:
-- Create the book table here.  Update the name of the database and schema.

CREATE TABLE [JunkDB_stl_May2023].[gomathy].book (
    book_id INT IDENTITY(1,1) PRIMARY KEY, 
    author_id INT,
    title VARCHAR(255),
    isbn INT,
    available BIT,
    genre_id INT
);

### Populate the **book** table.

For the starter data, use the [book\_data.ipynb notebook](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code).

> You may copy/paste the commands into the next code block.  You will need to update each INSERT statement to contain the names of your database and schema.

In [30]:
-- Paste the book data values in this code box.  Be sure to update database and schema names.
INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (2, 'A Midsummers Night Dream', 978149413, 1, 23)

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (2, 'Romeo and Juliet', 988535196, 1, 3);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (1, 'The Golden Compass', 451664226, 1, 1);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (1, 'The Subtle Knife', 160419390, 1, 1);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (1, 'The Amber Spyglass', 94387895, 1, 1);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (3, 'The Alchemist', 464069772, 1, 2);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (4, 'And Then There Were None', 335973357, 1, 6);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (5, 'The Joy Luck Club', 990050329, 1, 10);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (5, 'The Moon Lady', 91720786, 1, 24);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (6, 'Sense and Sensibility', 156879860, 1, 2);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (6, 'Northanger Abbey', 951273178, 1, 3);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (6, 'Pride and Prejudice', 415886839, 1, 3);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (6, 'Mansfield Park', 188534067, 1, 3);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (6, 'Emma', 994896202, 1, 3);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (6, 'Persuasion', 28150097, 1, 3);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (6, 'Lady Susan', 230962926, 1, 3);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (7, 'Wuthering Heights', 280569946, 1, 3);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (8, 'The Handmaids Tale', 639239663, 1, 5);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (8, 'The Testaments', 826875490, 1, 5);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (9, 'The Parable of the Sower', 283359358, 1, 5);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (10, 'Little Women', 495409887, 1, 23);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (11, 'Still Life', 455128657, 1, 6);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (11, 'A Fatal Grace', 832517012, 1, 6);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (11, 'The Cruelest Month', 419285319, 1, 6);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (11, 'The Murder Stone', 656621400, 1, 6);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (11, 'The Brutal Telling', 144255852, 1, 6);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (11, 'Bury Your Dead', 208180961, 1, 6);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (11, 'A Trick of the Light', 93451531, 1, 6);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (12, 'Midnights Children', 881082293, 1, 10);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (13, 'Dont Let the Pigeon Drive the Bus!', 18409532, 1, 24);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (14, 'Beezus and Ramona', 744412630, 1, 24);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (15, 'Organic Chemistry', 604328803, 1, 25);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (16, 'I Know Why the Caged Bird Sings', 909947112, 1, 12);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (17, 'Beloved', 46736233, 1, 10);

INSERT INTO [JunkDB_stl_May2023].[gomathy].book(author_id, title, isbn, available, genre_id)
VALUES (18, 'Brassbones and Rainbows', 330608463, 1, 26);

### Test your data.  

Run a quick query of your choice to see if the book table was properly created.

In [31]:
-- test your book table here.
select * from [JunkDB_stl_May2023].[gomathy].book

book_id,author_id,title,isbn,available,genre_id
106,2,A Midsummers Night Dream,978149413,1,23
107,2,Romeo and Juliet,988535196,1,3
108,1,The Golden Compass,451664226,1,1
109,1,The Subtle Knife,160419390,1,1
110,1,The Amber Spyglass,94387895,1,1
111,3,The Alchemist,464069772,1,2
112,4,And Then There Were None,335973357,1,6
113,5,The Joy Luck Club,990050329,1,10
114,5,The Moon Lady,91720786,1,24
115,6,Sense and Sensibility,156879860,1,2
116,6,Northanger Abbey,951273178,1,3
117,6,Pride and Prejudice,415886839,1,3
118,6,Mansfield Park,188534067,1,3
119,6,Emma,994896202,1,3
120,6,Persuasion,28150097,1,3
121,6,Lady Susan,230962926,1,3
122,7,Wuthering Heights,280569946,1,3
123,8,The Handmaids Tale,639239663,1,5
124,8,The Testaments,826875490,1,5
125,9,The Parable of the Sower,283359358,1,5
126,10,Little Women,495409887,1,23
127,11,Still Life,455128657,1,6
128,11,A Fatal Grace,832517012,1,6
129,11,The Cruelest Month,419285319,1,6
130,11,The Murder Stone,656621400,1,6
131,11,The Brutal Telling,144255852,1,6
132,11,Bury Your Dead,208180961,1,6
133,11,A Trick of the Light,93451531,1,6
134,12,Midnights Children,881082293,1,10
135,13,Dont Let the Pigeon Drive the Bus!,18409532,1,24
136,14,Beezus and Ramona,744412630,1,24
137,15,Organic Chemistry,604328803,1,25
138,16,I Know Why the Caged Bird Sings,909947112,1,12
139,17,Beloved,46736233,1,10
140,18,Brassbones and Rainbows,330608463,1,26

We will repeat a similar process for the **author, patron,** and **genre** tables. 

### **Author Table**

To create the **author** table, you will use the following code:

```
CREATE TABLE [DB].[schema].author (
    author_id INT IDENTITY(1,1), PRIMARY KEY
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    birth_year INT,
    death_year INT
);
```

In [19]:
-- create the author table here:
CREATE TABLE JunkDB_stl_May2023.gomathy.author (
    author_id INT IDENTITY(1,1) PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    birth_year INT,
    death_year INT
);

Populate the **author** table with the [author\_data.ipynb](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code).

In [28]:
-- paste the author data values in this code.
-- INSERT INTO JunkDB_stl_May2023.gomathy.author(first_name, last_name, birth_year, death_year)
-- VALUES ('Phillip', 'Pullman', 1946, null),
--     ('William', 'Shakespeare', 1564, 1616),
--     ('Paulo', 'Coelho', 1947, null),
--     ('Agatha', 'Christie', 1890-09-15, 1976-01-12),
--     ('Amy', 'Tan', 1952-02-19, null),
--     ('Jane', 'Austin', 1775-12-16, 1817-07-18),
--     ('Emily', 'Bronte', 1818-07-30, 1848-12-19),
--     ('Margaret', 'Atwood', 1939-11-18, null),
--     ('Octavia', 'Butler', 1947-06-22, 2006-02-24),
--     ('Louisa May', 'Alcott', 1832-11-29, 1888-03-06),
--     ('Louise', 'Penny', 1958-07-01, null),
--     ('Salman', 'Rushdie', 1947-08-19, null),
--     ('Mo', 'Willems', 1968-02-11, null),
--     ('Beverly', 'Cleary', 1916-04-12, null),
--     ('Peter', 'Vollhardt', 1946-03-07, null),
--     ('Maya', 'Angelou', 1928-04-04, 2014-05-28),
--     ('Toni', 'Morrison', 1931-02-18, 2019-08-05),
--     ('Shirley', 'LeFlore', 1940-03-06, 2019-05-12)


    select * from JunkDB_stl_May2023.gomathy.author
      --  delete  from JunkDB_stl_May2023.gomathy.author

author_id,first_name,last_name,birth_year,death_year
37,Phillip,Pullman,1946,NULL
38,William,Shakespeare,1564,1616
39,Paulo,Coelho,1947,NULL
40,Agatha,Christie,1866,1963
41,Amy,Tan,1931,NULL
42,Jane,Austin,1747,1792
43,Emily,Bronte,1781,1817
44,Margaret,Atwood,1910,NULL
45,Octavia,Butler,1919,1980
46,Louisa May,Alcott,1792,1879
47,Louise,Penny,1950,NULL
48,Salman,Rushdie,1920,NULL
49,Mo,Willems,1955,NULL
50,Beverly,Cleary,1900,NULL
51,Peter,Vollhardt,1936,NULL
52,Maya,Angelou,1920,1981
53,Toni,Morrison,1911,2006
54,Shirley,LeFlore,1931,2002

### **Patron Table**

To create the **patron**, you will use the following code:

```
CREATE TABLE [DB].[schema].patron (
    patron_id INT IDENTITY (1,1) PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    loan_id INT
);
```

In [32]:
-- create the patron table here:
CREATE TABLE junkDB_stl_May2023.gomathy.patron (
    patron_id INT IDENTITY (1,1) PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    loan_id INT
);

Populate the **patron** table with the [patron\_data.ipynb](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code) notebook.

In [38]:
-- insert patron data into the table here:
INSERT INTO junkDB_stl_May2023.gomathy.patron(first_name, last_name, loan_id)
VALUES ('Jennifer', 'Slayny', NULL),
('Susan', 'Traviss', NULL),
('Vincent', 'Ritelli', NULL),
('Tasia', 'Laybourne', NULL),
('Wren', 'Gergler', NULL),
('Tory', 'Lees', NULL),
('Estelle', 'Di Lorio', NULL),
('Dorian', 'Betje', NULL),
('Frank', 'Jelk', NULL),
('Chris', 'Endon', NULL),
('Gillie', 'Fritz', NULL),
('Leisha', 'Defty', NULL),
('Erika', 'Bompass', NULL),
('Gabe', 'Moxstead', NULL),
('Blake', 'Teresse', NULL),
('Joshua', 'Timmouth', NULL),
('Tasha', 'Timmouth', NULL),
('Neil', 'Davie', NULL),
 ('Emmeline', 'Pitherick', NULL),
('Josiah', 'Staner', NULL),
('James', 'Greetham', NULL),
 ('Isaac', 'Barstowk', NULL),
('Dean', 'Nelane', NULL),
('Carolina', 'Cranmere', NULL),
('Champ', 'Lardiner', NULL),
 ('Abbie', 'Quaif', NULL),
 ('Camile', 'Milbourne', NULL),
 ('Quentin', 'Crose', NULL),
 ('Silvano', 'Horlick', NULL),
 ('Phyllis', 'Cicchillo', NULL),
 ('Jerrie', 'Brownhall', NULL),
('Ludovika', 'Leist', NULL),
 ('Tara', 'Knatt', NULL),
('Kelsie', 'Parkson', NULL),
('Jodi', 'Leopard', NULL),
('Rosanna', 'Cultcheth', NULL),
 ('Remy', 'Fairpool', NULL),
 ('Megan', 'Blyth', NULL),
 ('Rikki', 'McLernon', NULL),
 ('Clare', 'Haacker', NULL),
 ('Vincent', 'Chettle', NULL),
 ('Sybil', 'Costanza', NULL),
 ('Jonas', 'Sinclare', NULL),
('Kathleen', 'Welband', NULL),
 ('Kylie', 'Crannage', NULL),
 ('Evelyn', 'Tarajo', NULL),
 ('Oliver', 'Caulson', NULL)

In [39]:
select * from junkDB_stl_May2023.gomathy.patron

patron_id,first_name,last_name,loan_id
1,Jennifer,Slayny,NULL
2,Susan,Traviss,NULL
3,Vincent,Ritelli,NULL
4,Tasia,Laybourne,NULL
5,Wren,Gergler,NULL
6,Tory,Lees,NULL
7,Estelle,Di Lorio,NULL
8,Dorian,Betje,NULL
9,Frank,Jelk,NULL
10,Chris,Endon,NULL
11,Gillie,Fritz,NULL
12,Leisha,Defty,NULL
13,Erika,Bompass,NULL
14,Gabe,Moxstead,NULL
15,Blake,Teresse,NULL
16,Joshua,Timmouth,NULL
17,Tasha,Timmouth,NULL
18,Neil,Davie,NULL
19,Emmeline,Pitherick,NULL
20,Josiah,Staner,NULL
21,James,Greetham,NULL
22,Isaac,Barstowk,NULL
23,Dean,Nelane,NULL
24,Carolina,Cranmere,NULL
25,Champ,Lardiner,NULL
26,Abbie,Quaif,NULL
27,Camile,Milbourne,NULL
28,Quentin,Crose,NULL
29,Silvano,Horlick,NULL
30,Phyllis,Cicchillo,NULL
31,Jerrie,Brownhall,NULL
32,Ludovika,Leist,NULL
33,Tara,Knatt,NULL
34,Kelsie,Parkson,NULL
35,Jodi,Leopard,NULL
36,Rosanna,Cultcheth,NULL
37,Remy,Fairpool,NULL
38,Megan,Blyth,NULL
39,Rikki,McLernon,NULL
40,Clare,Haacker,NULL
41,Vincent,Chettle,NULL
42,Sybil,Costanza,NULL
43,Jonas,Sinclare,NULL
44,Kathleen,Welband,NULL
45,Kylie,Crannage,NULL
46,Evelyn,Tarajo,NULL
47,Oliver,Caulson,NULL

### **Genre Table**

To create the **genre** table, use the following code:

```
CREATE TABLE [DB].[schema].genre (
    genre_id INT PRIMARY KEY,
    genres VARCHAR(100)
);
```

In [40]:
-- create genre table here:

CREATE TABLE junkDB_stl_May2023.gomathy.genre (
    genre_id INT PRIMARY KEY,
    genres VARCHAR(100)
);

Populate the **genre** table with the [genre\_data.ipybn](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code) notebook.

In [41]:
-- insert the genre data into the table here:

INSERT INTO junkDB_stl_May2023.gomathy.genre(genre_id, genres)
VALUES (1, 'Fantasy'),
 (2, 'Adventure'),
(3, 'Romance'),
 (4, 'Contemporary'),
 (5, 'Dystopian'),
 (6, 'Mystery'),
 (7, 'Horror'),
 (8, 'Thriller'),
 (9, 'Paranormal'),
 (10, 'Historical Fiction'),
 (11, 'Science Fiction'),
 (12, 'Memoir'),
 (13, 'Cooking'),
 (14, 'Art'),
 (15, 'Self-Help'),
 (16, 'Development'),
 (17, 'Motivational'),
 (18, 'Health'),
(19, 'History'),
(20, 'Travel'),
 (21, 'Guide'),
 (22, 'Families and Relationships'),
 (23, 'Humor'),
 (24, 'Childrens'),
 (25, 'Reference'),
 (26, 'Poetry')

In [42]:
select * from junkDB_stl_May2023.gomathy.genre

genre_id,genres
1,Fantasy
2,Adventure
3,Romance
4,Contemporary
5,Dystopian
6,Mystery
7,Horror
8,Thriller
9,Paranormal
10,Historical Fiction
11,Science Fiction
12,Memoir
13,Cooking
14,Art
15,Self-Help
16,Development
17,Motivational
18,Health
19,History
20,Travel
21,Guide
22,Families and Relationships
23,Humor
24,Childrens
25,Reference
26,Poetry

### **Loan Table**

The **loan** table will be created differently and will stay empty.  We will use our other tables to populate the loan table using queries shortly.  

Use the following code to create the **loan** table:

```
CREATE TABLE [DB].[schema].loan (
    loan_id INT IDENTITY(1,1) PRIMARY KEY,
    patron_id INT,
    date_out DATE,
    date_in DATE,
    book_id INT
    CONSTRAINT book_id FOREIGN KEY (book_id) REFERENCES [DB].[schema].book (book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);
```

_Notes about the syntax:_

> We are adding a [foreign key](https://www.w3schools.com/sql/sql_foreignkey.asp) to this table to reference a different table's primary key.  In this studio, we are going to link the **loan** table to the **book** table using keys.  The **loan** table will reference and add book id numbers based on the **book** table's book\_id.  We are also providing [constraints](https://www.w3schools.com/sql/sql_constraints.asp) to be very specific about what type of data is allowed in this column.

In [43]:
-- Code the loan table.  
-- Note that you will need to update the first and seventh lines with your database and schema info.
CREATE TABLE junkDB_stl_May2023.gomathy.loan (
    loan_id INT IDENTITY(1,1) PRIMARY KEY,
    patron_id INT,
    date_out DATE,
    date_in DATE,
    book_id INT
    CONSTRAINT book_id FOREIGN KEY (book_id) REFERENCES junkDB_stl_May2023.gomathy.book (book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);

In [51]:
select * from junkDB_stl_May2023.gomathy.loan

## **Part B: Warm-Up Queries**

Write the following queries to get warmed up and make sure your tables have populated appropriately. 

1. Return the mystery book titles and their ISBNs.  
      
    
2. Return all of the titles and the author's first and last names for books written by authors who are currently living.

In [53]:
--Code your warm ups here:

select title, isbn from junkDB_stl_May2023.gomathy.book
where genre_id = 6


select b.title, a.first_name, a.last_name, a.death_year
from junkDB_stl_May2023.gomathy.book as b
inner join junkDB_stl_May2023.gomathy.author as a 
on b.author_id = a.author_id
where a.death_year IS NULL

title,isbn
And Then There Were None,335973357
Still Life,455128657
A Fatal Grace,832517012
The Cruelest Month,419285319
The Murder Stone,656621400
The Brutal Telling,144255852
Bury Your Dead,208180961
A Trick of the Light,93451531

## **Part C: Loan Out a Book**

The library would like you to create a query that will update the database when a book is loaned out.  

This query needs to perform the following functions:

1. Change **available** to **0** (false) for the appropriate book.
    
2. Add a new row to the **loan** table with today's date as the **date\_out** and the ids in the row matching the appropriate **patron\_id** and **book\_id**.
    
3. Update the appropriate **patron** with the **loan\_id** for the new row created in the **loan** table.
    

You can use any patron and book that strikes your fancy to create and test out this query.'

> _Note:  Every time you test this, you will add an additional row to the output, creating a new loan id each time.  If you do not update the patron id, then a patron will have multiple loan ids.  This is not an issue for Part C;_ _however, this may cause issues when you work on Part F._

In [79]:
-- Create your query that will Loan Out a Book:

-- DECLARE @book_id INT = 111 -- Replace with the appropriate book ID
-- DECLARE @patron_id INT = 11 -- Replace with the appropriate patron ID
-- DECLARE @today DATE = GETDATE(); -- Get the current date

-- -- 1. Change available to 0 for the appropriate book
-- UPDATE junkDB_stl_May2023.gomathy.book
-- SET available = 0
-- WHERE book_id = @book_id;

-- -- 2. Add a new row to the loan table with today's date as the date_out
-- INSERT INTO junkDB_stl_May2023.gomathy.loan (book_id, patron_id, date_out)
-- VALUES (@book_id, @patron_id, @today);

-- -- 3. Update the appropriate patron with the loan_id for the new row created in the loan table
-- DECLARE @loan_id INT = SCOPE_IDENTITY(); -- Get the last inserted loan_id
-- UPDATE junkDB_stl_May2023.gomathy.patron
-- SET loan_id = @loan_id
-- WHERE patron_id = @patron_id;

--declare @today Date = getdate()
update junkDB_stl_May2023.gomathy.Book
set available = 0
where book_id = 106

insert into junkDB_stl_May2023.gomathy.loan
(book_id,date_out,patron_id)
values(1,SYSDATETIME(),1)

update junkDB_stl_May2023.gomathy.patron 
set loan_id = 6
where patron_id = 1

: Msg 547, Level 16, State 0, Line 27
The INSERT statement conflicted with the FOREIGN KEY constraint "book_id". The conflict occurred in database "JunkDB_STL_May2023", table "gomathy.book", column 'book_id'.

In [74]:
-- delete from junkDB_stl_May2023.gomathy.loan
-- where loan_id =5


select * from junkDB_stl_May2023.gomathy.loan

loan_id,patron_id,date_out,date_in,book_id
6,11,2023-08-20,NULL,111

## **Part D: Check a Book Back In**

Work with the same patron and book as you create your query to check a book back into the library.

The check a book back in, your query need to do the following:

1. Change **available** to **1** (true) for the appropriate book.
    
2. Update the appropriate row in the **loan** table with today's date as the **date\_in**.
    
3. Update the appropriate **patron** changing **loan\_id** back to **NULL**.
    

Once you have created these queries, loan out 5 new books to 5 different patrons.

In [75]:
-- Create your Check a Book Back In query:
declare @today Date = getdate()
update junkDB_stl_May2023.gomathy.Book
set available = 1
where book_id = 111

insert into junkDB_stl_May2023.gomathy.loan
values(11,null,@today,111)

update junkDB_stl_May2023.gomathy.patron 
set loan_id = null
where patron_id = 11

In [76]:
select * from junkDB_stl_May2023.gomathy.loan

loan_id,patron_id,date_out,date_in,book_id
6,11,2023-08-20,NULL,111
7,11,NULL,2023-08-20,111

In [89]:
update junkDB_stl_May2023.gomathy.Book
set available = 0
where book_id = 107

update junkDB_stl_May2023.gomathy.Book
set available = 0
where book_id = 108

update junkDB_stl_May2023.gomathy.Book
set available = 0
where book_id = 109

update junkDB_stl_May2023.gomathy.Book
set available = 0
where book_id = 110

update junkDB_stl_May2023.gomathy.Book
set available = 0
where book_id = 112

insert into junkDB_stl_May2023.gomathy.loan
(book_id,date_out,patron_id)
values(107,SYSDATETIME(),2),
   (108,SYSDATETIME(), 3),
(109,SYSDATETIME(),4),
(110,SYSDATETIME(),5),
(112,SYSDATETIME(),6);

update junkDB_stl_May2023.gomathy.patron 
set loan_id = 8
where patron_id = 2

update junkDB_stl_May2023.gomathy.patron 
set loan_id = 9
where patron_id = 3

update junkDB_stl_May2023.gomathy.patron 
set loan_id = 10
where patron_id = 4

update junkDB_stl_May2023.gomathy.patron 
set loan_id = 11
where patron_id = 4

update junkDB_stl_May2023.gomathy.patron 
set loan_id = 12
where patron_id = 5

## **Part E: Create a temp table**

Write a query that returns a temporary table for a patron that shows them all of their loans.

_Question to think about:_  Why might a temp table be a good option for this type of query?

In [91]:
-- Code your temp table here

SELECT *
INTO #patronloan
FROM junkDB_stl_May2023.gomathy.loan;

In [92]:
select * from #patronloan

loan_id,patron_id,date_out,date_in,book_id
6,11,2023-08-20,NULL,111
7,11,NULL,2023-08-20,111
8,11,2023-08-22,NULL,111
11,2,2023-08-23,NULL,107
12,3,2023-08-23,NULL,108
13,4,2023-08-23,NULL,109
14,5,2023-08-23,NULL,110
15,6,2023-08-23,NULL,112
16,2,2023-08-23,NULL,107
17,3,2023-08-23,NULL,108
18,4,2023-08-23,NULL,109
19,5,2023-08-23,NULL,110
20,6,2023-08-23,NULL,112

## **Part F: Wrap-up Query**

Create a query that returns the names of the patrons with the genre of every book they currently have checked out.

Things to consider:  How are these tables related and connected to each other?

> _Note:  If you find a NULL in your output instead of a loan id,   this is likely because there are multiple loans per patron.  Try_ _clearing out the loan table.  You can do this by either dropping the entire table or clearing specific rows._

In [94]:
-- Create your Wrap-Up query here:

SELECT p.first_name, p.last_name, g.genres,l.patron_id,b.book_id,b.title
FROM JunkDB_STL_May2023.gomathy.patron p
JOIN JunkDB_STL_May2023.gomathy.loan l ON p.patron_id = l.patron_id
JOIN JunkDB_STL_May2023.gomathy.book b ON l.book_id = b.book_id
JOIN JunkDB_STL_May2023.gomathy.genre g ON b.genre_id = g.genre_id
WHERE l.date_in IS NULL;

first_name,last_name,genres,patron_id,book_id,title
Gillie,Fritz,Adventure,11,111,The Alchemist
Gillie,Fritz,Adventure,11,111,The Alchemist
Susan,Traviss,Romance,2,107,Romeo and Juliet
Vincent,Ritelli,Fantasy,3,108,The Golden Compass
Tasia,Laybourne,Fantasy,4,109,The Subtle Knife
Wren,Gergler,Fantasy,5,110,The Amber Spyglass
Tory,Lees,Mystery,6,112,And Then There Were None
Susan,Traviss,Romance,2,107,Romeo and Juliet
Vincent,Ritelli,Fantasy,3,108,The Golden Compass
Tasia,Laybourne,Fantasy,4,109,The Subtle Knife
Wren,Gergler,Fantasy,5,110,The Amber Spyglass
Tory,Lees,Mystery,6,112,And Then There Were None

## **Bonus Challenge:**

This is an optional challenge.

Create a new table for reference materials using the following code:

```
CREATE TABLE [DB].[schema].reference_books (
    reference_id INT IDENTITY(1,1) PRIMARY KEY,
    edition INT,
    book_id INT,
    book_id INT FOREIGN KEY REFERENCES [DB].[schema].book(book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);
```

Fill the table with the following query:

```
INSERT INTO [DB].[schema].reference_books (edition, book_id)
VALUE (5,32);
```

In [ ]:
-- Create and fill your reference table here:
CREATE TABLE junkDB_stl_May2023.gomathy.reference_books (
    reference_id INT IDENTITY(1,1) PRIMARY KEY,
    edition INT,
    book_id INT,
    book_id INT FOREIGN KEY REFERENCES junkDB_stl_May2023.gomathy.book(book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);
INSERT INTO junkDB_stl_May2023.gomathy.reference_books (edition, book_id)
VALUE (5,32);

<span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">A reference book cannot leave the library.&nbsp; How would you modify either the <b>reference_book</b> table or the <b>book</b> table to make sure that doesn't happen?&nbsp; Try to apply your modifications.</span>

In [ ]:
-- Code your query here: